@charset "UTF-8";

@font-face {
	font-family:wending;
	 src:url("../fonts/KiwiMaru-Light.ttf");
 }
/* 基本の設定
 -------------------------------------------- */
body {
	/* font-family: 'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif; */
	/* font-family: 'Kalam', cursive; */
	font-family: 'wending';
	font-size: 16px;
	line-height: 1.7;
	margin: 0;
	padding: 0;
}

section,article, aside, nav, header, main, footer { display: block; }

h1,h2,h3,h4 {
	/* font-family: "Montserrat",sans-serif; */
	font-family: 'Kalam', cursive;
	font-weight: normal;
}

ul, li {
	margin: 0;
	padding: 0;
	list-style: none;
}

a { text-decoration: none;}

img { /* フルードイメージ対応 */
	max-width: 100%;
	height: auto;
}

.center { text-align: center; }

/* ヘッダー
 -------------------------------------------- */
header {
	width: 100%;
	padding: 6em 0 4em;
	background: url("../images/header.jpg") no-repeat fixed center bottom / cover ;
	position: relative;
	text-align: center;
	color: #FFF;
}
header#itempage { 
	padding: 4em 0 2em;
}
header nav {
	background: rgba(0, 0, 0, 0.548) ;
	padding: 10px 0; 
	width: 100%;
	position: absolute;
	top:0;
}
header nav ul{
	margin: auto;
	text-align: center;
}
header nav ul li{
	display: inline;
}
header nav ul li a{
	color: #FFF;
	/* font-family: "Montserrat",sans-serif; */
	font-family: 'Kalam', cursive;
	font-size: 16px;
	padding: 0 1em;
}
header h1 a {
	color: #FFF;
}

/* メインエリア
 -------------------------------------------- */
main {
	width: 100%;
	max-width: 930px;
	margin: 0 auto;
	padding: 24px 0;
}

/* リンク文字の色設定 */
main a { color: #2c9795; }
main a:link,
main a:visited { text-decoration: none; }
main a:hover, main a:active  { text-decoration: underline; }

/* フッター
 -------------------------------------------- */
footer {
	background-color: #01183d;
	color: #4c6ea4;
	/* font-family: "Montserrat",sans-serif; */
	font-family: 'Kalam', cursive;
	text-align:center;
	width: 100%;
	padding: 6em 0;
}

	
/* カラム
 -------------------------------------------- */
.row {
	max-width: 930px;
	margin: 0 auto 50px;
}
.row::after { 
	content: "";
	clear: both;
	display: block;
}
.col {
	float: left;
	margin-left: 4%;
}
.col:first-child {margin-left: 0;}
.harf {width: 48%;}
.quarter {width: 22%;}


/* 表の装飾
 -------------------------------------------- */
table {
	border: 1px solid #ddd;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table th {
	background: #F5F5F5;
	border: solid #ddd;
	border-width: 0 0 1px 1px;
	font-weight: bold;
	line-height: 120%;
	padding: 30px 8px;
	text-align: center;
	width: 20%;
}
table td {
	border: 1px solid #ddd;
	border-width: 0 0 1px 1px;
	padding: 30px 8px;
	text-align: left;
	width: 80%;
}

/* フォーム・ボタンの装飾
 -------------------------------------------- */
form .email,
form .comment {
	border: 1px solid #ddd;
	box-sizing: border-box;
	display: block;
	font-size: 16px;
	margin-bottom: 16px;
	max-width: 100%;
	padding: 8px;
	width: 100%;
}
.button {
	background-color: #f90;
	border-bottom: medium none;
	border-radius: 0.5em;
	color: #fff;
	cursor: pointer;
	display: inline-block;
    font-size: 1.4em;
	line-height: 1.7;
	margin: 0 0 2em;
	padding: .6em 2em;
	position: relative;
	text-decoration: none;
}

main a.button { color: #fff; }
main a.button:hover,
main a.button:active { text-decoration: none; }

/* 商品ページの装飾
 -------------------------------------------- */
.cartarea {
	border-top: 1px dotted #CCC;
	text-align: center;
}

.price {
	color: #C00;
	font-size: 2em;
}


/* ----------------------
 画面の横幅が599px以下の場合に適用
 ---------------------- */
@media screen and (max-width: 599px) {
	.col {
		float: none; 
		margin-left: 0;
		width: auto;
	}
	.row {
		padding: 0 8px;
	}
}

