<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>fetch</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <link href="" rel="stylesheet">
    <script type="text/javascript" src="lib/vue.js"></script>
</head>

<body>
    <div id="box">
        <h3>{{username}}</h3>
        </ul>
    </div>
    <script type="text/javascript">
        new Vue({
            el: "#box",
            data: {
                username: ''
            },
            async created() {
                const url = 'https://api.github.com/users/deatiger'
                const json = await fetch(url)
                    .then(res => {
                        return res.json()
                    })
                    .catch(error => {
                        console.error('エラー')
                        return null
                    })
                this.username = json.login
            }
        })
    </script>
</body>

</html>