.body{
    /* align-items: center; */
    /* justify-content: center; */
}
h1{
    text-align:center
}
.login{
    /* align-items: center; */
    background-color: #0808089a;
    width:400px;
    color:#f8f9fa;
    padding:40px;

    /* box-shadow:10px 10px 25px #00000080; */
}
.login input{
    display: block;
    /* display:none; */
    /* visibility: hidden; */
    margin:20px auto;
    text-align: center;
    background: none;
    padding: 12px;
    font-size:15px;
    outline: none;
    color: #f8f9fa;
}
.login input[type="text"], .login input[type="password"]{
    border: 2px solid #3498db;
    width:220px;
}
.login input[type="submit"]{
    width:150px;
    /* border: 2px solid #2ecc71; */
    cursor: pointer;
    background-color: #12c04c;
    border-radius: 10px;
}
.login input[type="text"]:focus, .login input[type="password"]:focus{
    border-color: #2ecc71;
    /* width:280px; */
    /* transition: 0.5s; */
}
.login input[type="submit"]:hover{
    background-color: #88f058;
}

