<template>
  <b-card class="panel">

    <b-form
      ref="loginForm"
      :model="form"
      label-width="80px"
      class="login-box"
    >
      <h3 class="login-title">欢迎来到作业管理系统</h3>
      <br/>
      <!-- users -->
      <b-container fluid>
        <b-row>
          <b-col sm='2'>账号</b-col>
          <b-col
            label="账号"
            prop="id"
          >
            <b-input
              type="text"
              placeholder="请输入学号或工号"
              v-model="form.id"
              style="width: 420px"
            />
            </b-col>
        </b-row>

        <br/>
        <!-- password -->
        <b-row>
          <b-col sm='2'>密码</b-col>
          <b-col
            md="4"
            label="密码"
            prop="password"
          >
            <b-input
              type="password"
              placeholder="请输入密码"
              v-model="form.password"
              style="width: 420px"
            />
            </b-col>
        </b-row>

        <br/>

        <!-- teacher or student -->
        <b-row>
          <b-col sm="2">
            <label>您是</label>
          </b-col>
          <b-col sm="3">
            <b-form-select
              v-model="form.job"
              :options="options"
              style="width: 420px"
            >
              </b-form-select>
          </b-col>
        </b-row>
        <!-- button -->
        <br/>
        <b-row align-h="center">
          <b-col cols="2">
            <b-button
              variant="primary"
              v-on:click="onLogin"
            >登录</b-button>
          </b-col>
          <b-col cols="2">
            <b-button
              variant="light"
              v-on:click="onRegister"
            >注册</b-button>
          </b-col>
        </b-row>
      </b-container>
      </b-form>

  </b-card>
</template>

<script>
import api from "../api";

export default {
  name: "LoginPanel",
  components: {},
  data() {
    return {
      // selected: null,

      form: {
        id: "",
        password: "",
        job: null,
      },

      options: [
        { value: null, text: "学生or老师？" },
        { value: "student", text: "学生" },
        { value: "teacher", text: "老师" },
      ],
    };
  },
  methods: {
    onLogin: function() {
      let formInfo = {
        id: this.form.id,
        password: this.form.password,
        teacher: this.form.job == "teacher",
      };

      api
        .userLogin(formInfo)
        .then(res => {
          if (res.state === 0) {
            this.$cookie.set("id", res.id);
            this.$cookie.set("token", res.token);
            this.$cookie.set("teacher", formInfo.teacher);
            if (formInfo.teacher) {
              this.$router.push({ path: "/teacher" });
            } else {
              this.$router.push({ path: "/student" });
            }
          } else {
            this.$message.error(res.message);
          }
        })
        .catch(msg => {
          alert(msg);
        });
    },
    onRegister: function() {
      this.$router.push({ path: "/register" });
    },
  },
};
</script>

<style scoped>
.panel {
  display: inline-block;
  width: 600px;
  margin-top: 200px;
}
.login-title {
  margin-top: 20px;
  font-size: 1.17em;
  font-weight: bold;
}
</style>