<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Examples</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link href="" rel="stylesheet">

  <script type="text/javascript" src="lib/vue.js"></script>
</head>

<body>
  <div id="box">
    父组件
    <div class="details">
      <myComponent :show.sync='valueChild'
        style="padding: 30px 20px 30px 5px;border:1px solid #ddd;margin-bottom: 10px;">
      </myComponent>
      <button @click="changeValue">toggle</button>
    </div>
  </div>


  <script type="text/javascript">
    //子组件
    Vue.component('myComponent', {
      template: `<div v-if="show">
                    <p>默认初始值是{{show}}，所以是显示的</p>
                    <button @click.stop="closeDiv">关闭</button>
                 </div>`,
      props: ['show'],
      methods: {
        closeDiv() {
          this.$emit('update:show', false); //触发 input 事件，并传入新值
        }
      }
    })

    new Vue({
      el: "#box",
      methods: {
        changeValue() {
          this.valueChild = !this.valueChild
        }
      },
      data: {
        valueChild: true
      }
    })


  </script>
</body>

</html>