<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>Examples</title>
<meta name="description" content="">
<meta name="keywords" content="">
<link href="" rel="stylesheet">

<script type="text/javascript" src="lib/vue.js"></script>
</head>
<body>
    <div id="box">
      从子组件传来的值1:{{subcomvalue}}
     <child @myevent2="handleEvent($event)"></child>

     从子组件传来的值2:{{age}}
     <child @setAge="handleEvent2($event)"></child>
    </div>
   
    <script type="text/javascript">
        //子组件
        Vue.component("child",{
        template:`<div>
          child组件
          <button @click="payMoney()">click</button>
        </div>`,

        data(){
          return {
            childname:"childchildchildchildchildchildchildchildchild"
          }
        },
        mounted(){
          this.$emit("setAge",99);
        },
        methods:{
          payMoney(){
            this.$emit("myevent2",this.childname)// 分发 事件
          }
        }
      })


      new Vue({
        el:"#box",
        data:{
                subcomvalue:"",
                age:0,
            },
        methods:{
          handleEvent(ev){
            this.subcomvalue=ev
          } ,
          handleEvent2(ev){
            this.age=ev
          } 
        }
      })
       

    </script>
</body>
</html>