<template>
    <div>
        <h2>About Index page</h2>
        <ul>
            <li>
                <a href="/">Home</a>
            </li>
        </ul>
        export default {
  transition:'test'
}
    </div>
</template>
