                                    .A {
                                        margin: auto;
                                        width: 50%;
                                        padding: 70px 0;
                                        background-color: rgb(59, 59, 59);
                                        color: white;
                                        text-align: center;
                                    }
                                    
                                    .A h1 {
                                        font-size: 28px;
                                    }
                                    
                                    .A1 {
                                        border-color: rgb(50, 130, 252);
                                        border-style: solid 15px;
                                        background-color: rgb(59, 59, 59);
                                        font-size: 18px;
                                        text-align: center;
                                        padding: 20px;
                                    }
                                    
                                    .A2 {
                                        border-color: rgb(50, 130, 252);
                                        border-style: solid 15px;
                                        background-color: rgb(59, 59, 59);
                                        font-size: 18px;
                                        text-align: center;
                                        padding: 20px;
                                    }
                                    
                                    .B {
                                        background-color: #4CAF50;
                                        border: none;
                                        color: white;
                                        padding: 15px 32px;
                                        text-align: center;
                                        text-decoration: none;
                                        display: inline-block;
                                        font-size: 16px;
                                        margin: 4px 2px;
                                        cursor: pointer;
                                        border-radius: 4px;
                                        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
                                    }