<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>JISHUQI</title>
    <script src="D:\suntianyu\vue\JS\vue.min.js"></script>
</head>

<body>
    <div id="count">
        <p>计数器：{{counter}}</p>
        <button @click = "counter++">count</button>
    </div>

    <script>
      var vm = new Vue({
        el:'#count',
        data:{
            counter:0
        }
        });
    vm.$watch('counter', function(navl , oval){
        alert('计数器值的变化 :' + oval + ' 变为 ' + nval + '!')
    })
    </script>
</body>

</html>