<template>
    <div>
        <div>
            <b-table-simple class="text-left">
                <b-thead head-variant="light">
                    <b-tr>
                        <b-th>帯域固定フラグ</b-th>
                        <b-th>回線番号</b-th>
                        <b-th>メニュー</b-th>
                        <b-th v-show="ok">帯域タイプ</b-th>
                        <b-th>帯域値</b-th>
                        <b-th>Qos</b-th>
                        <b-th>VLAN制御機能</b-th>
                        <b-th>事業所名</b-th>
                    </b-tr>
                </b-thead>

                <b-tbody>
                    <b-tr>
                        <b-td>{{items[0].bandwidthFlag}}</b-td>
                        <b-td>{{items[0].lineNum}}</b-td>
                        <b-td>{{items[0].menu}}</b-td>
                        <b-td v-show="ok">
                            <b-button variant="primary">帯域確保</b-button>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option2"
                            ></b-form-select>
                        </b-td>
                        <b-td>{{items[0].qos}}</b-td>
                        <b-td>{{items[0].vlan}}</b-td>
                        <b-td>{{items[0].office}}</b-td>
                    </b-tr>

                    <b-tr>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option1"
                            ></b-form-select>
                        </b-td>
                        <b-td>{{items[1].lineNum}}</b-td>
                        <b-td>{{items[1].menu}}</b-td>
                        <b-td v-show="ok">
                            <b-button variant="outline-primary">トラフィックフリー</b-button>
                            <b-button variant="primary">帯域確保</b-button>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option2"
                            ></b-form-select>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option3"
                            ></b-form-select>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option3"
                            ></b-form-select>
                        </b-td>
                        <b-td>{{items[1].office}}</b-td>
                    </b-tr>

                    <b-tr>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option1"
                            ></b-form-select>
                        </b-td>
                        <b-td>{{items[2].lineNum}}</b-td>
                        <b-td>{{items[2].menu}}</b-td>
                        <b-td v-if="ok">
                            <b-button variant="primary">帯域確保</b-button>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option2"
                            ></b-form-select>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option3"
                            ></b-form-select>
                        </b-td>
                        <b-td>
                            <b-form-select
                                v-model="selected"
                                :options="option3"
                            ></b-form-select>
                        </b-td>
                        <b-td>{{items[2].office}}</b-td>
                    </b-tr>
                </b-tbody>
            </b-table-simple>
        </div>

        <div class="modal-footer">
            <b-button variant="primary">登録</b-button>
            <b-button variant="outline-primary">戻る</b-button>
            <b-button
                variant="danger"
                @click="de()"
            >削除</b-button>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      ok: true,
      selected: null,
      items: [
        {
          bandwidthFlag: "",
          lineNum: "E300472070",
          menu: "PFアクセスGW",
          bandwidthType: "",
          bandwidthValue: "",
          qos: "-",
          vlan: "-",
          office: "OFFICE_E300472070",
        },
        {
          bandwidthFlag: "",
          lineNum: "E300479120",
          menu: "イーサネット方式Ⅱ",
          bandwidthType: "",
          bandwidthValue: "",
          qos: "",
          vlan: "",
          office: "OFFICE_E300479120",
        },
        {
          bandwidthFlag: "",
          lineNum: "E300481130",
          menu: "イーサネット方式Ⅱ PF",
          bandwidthType: "",
          bandwidthValue: "",
          qos: "",
          vlan: "",
          office: "OFFICE_E300481130",
        },
      ],
      option1: [{ value: null, text: "あり" }, { value: null, text: "なし" }],
      option2: [
        { value: null, text: "0Mbps" },
        { value: null, text: "10Mbps" },
        { value: null, text: "100Mbps" },
        { value: null, text: "1000Mbps" },
      ],
      option3: [{ value: null, text: "ON" }, { value: null, text: "OFF" }],
    };
  },
  methods: {
    de: function() {
      if (this.ok == true) {
        this.ok = false;
      } else {
        this.ok = true;
      }
    },
  },
};
</script>

<style scoped>
.text-left {
  text-align: left;
}
</style>
