<template>
  <div class="modal-content">
    <div>
      <div>
        <!--MS通し番号-->
        <b-form-group
          class="col-12"
          label="MS通し番号"
        >
          <span class="content">MS 4</span>
          </b-form-group>

          <!--NAPT用グローバルIP-->
          <b-form-group
            class="col-12"
            label="NAPT用グローバルIP"
          >
            <span class="content">現在 1個/ 上限 12個</span><br />
            <span class="content">グローバルIP数</span><br />
            <span :class="{ red: !(displayData.addNapt === '追加0個') }">{{ displayData.addNapt }}
            </span><br />
            <span class="content">払出済グローバルIP</span><br />
            <span class="content pl-3">グローバルIP</span><br />
            <div
              v-for="item in displayData.napt"
              :key="item"
            >
              <span
                :class="{ red: item.ip.indexOf('削除') != -1 }"
                class="content pl-3"
              >
                {{ item.ip }}
                </span>

                <!-- <span v-if="item.ip.indexOf('削除') === -1" class="content">
              {{ item.ip }}</span
            >
            <span v-else class="red">{{ item.ip }}</span> -->
                <br />
      </div>
      </b-form-group>
      <br />

      <!--NAT用グローバルIP-->
      <b-form-group
        class="col-12"
        label="NAT用グローバルIP"
      >
        <span class="content">現在 1個/ 上限 12個</span><br />
        <span class="content">グローバルIP数</span><br />
        <span :class="{ red: !(displayData.addNat === '追加0個') }">{{ displayData.addNat }}
        </span><br />
        <span class="content">払出済グローバルIP</span><br />
        <span class="content pl-3">グローバルIP</span><br />
        <div
          v-for="item in displayData.nat"
          :key="item"
        >
          <span
            :class="{ red: item.ip.indexOf('削除') != -1 }"
            class="content pl-3"
          >
            {{ item.ip }}
            </span>
            <br />
    </div>
    </b-form-group>
  </div>
  </div>
  <footer class="modal-footer justify-content-end btn-container">
    <b-button
      variant="primary"
      @click="update"
    >変更</b-button>
      <b-button
        variant="outline-primary"
        @click="cancel"
      >キャンセル</b-button>
  </footer>
  </div>
</template>

<script>
export default {
  name: "Confirm",

  data() {
    return {
      // 確認画面表示用データ
      displayData: {
        addNapt: "",
        napt: [],
        addNat: "",
        nat: [],
      },
      // postリクエストデータ
      updateData: {
        addNapt: "",
        napt: [],
        addNat: "",
        nat: [],
      },
    };
  },
  created() {
    // postリクエストデータ
    this.updateData = this.$route.params.data;

    // NaptIP追加個数編集
    this.displayData.addNapt = "追加" + this.$route.params.data.addNapt + "個";
    // NaptIP編集
    this.updateData.napt.forEach(item => {
      if (item.delFlg) {
        this.displayData.napt.push({ ip: item.ip + "[削除]", delFlg: true });
      } else {
        this.displayData.napt.push({ ip: item.ip, delFlg: false });
      }
    });

    // NatIP追加個数編集
    this.displayData.addNat = "追加" + this.$route.params.data.addNat + "個";
    // NatIP編集
    this.updateData.nat.forEach(item => {
      if (item.delFlg) {
        this.displayData.nat.push({ ip: item.ip + "[削除]", delFlg: true });
      } else {
        this.displayData.nat.push({ ip: item.ip, delFlg: false });
      }
    });
  },

  methods: {
    cancel() {
      this.$router.go(-1);
    },
    update() {
      alert(JSON.stringify(this.updateData));
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .multicloud-modal {
    .vfm__content {
      width: 900px;
    }
  }

  .pagination {
    padding-right: 1em;
  }

  //項目欄固定なし
  .b-table-sticky-header > .table.b-table > thead > tr > th {
    position: static;
  }
}
.content {
  margin-left: 1em;
}
.red {
  color: red;
}
</style>
