<template>
  <b-form @submit.prevent="handleSubmit(submit)">
    <div class="mx-2">
      <b-table
        primaryKey="id"
        :fields="cloudSetting.fields"
        :items="cloudSetting.items"
      >
        <!--メニュー-->
        <template #cell(menu)="data">
          <div v-if="
              data.item.menu === 'MS1' ||
              data.item.menu === 'MS2' ||
              data.item.menu === 'MS3'
            ">
            <b-button
              variant="primary"
              @click="showMS"
            >{{ data.item.menu }}
              </b-button>
          </div>
          <div v-else>
            <b-button
              variant="primary"
              @click="showMSexcepting"
            >{{ data.item.menu }}
              </b-button>
          </div>
        </template>

        <!--帯域値-->
        <template #cell(bandwidth)="data">
          <b-form-select
            :options="options"
            :value="data.item.bandwidth"
          ></b-form-select>
        </template>

        <!--備考-->
        <template #cell(memo)="data">
          <validation-provider
            v-slot="{ errors, valid }"
            name="備考"
            rules="max:200"
          >
            <b-form-textarea v-model="data.item.memo" />
            <b-form-invalid-feedback :state="valid">
              <span
                v-for="(error, index) in errors"
                :key="index"
              >
                {{ error }}</span>
            </b-form-invalid-feedback>
            </validation-provider>
        </template>

        <!--追加と削除ボタン-->
        <template #cell(other)="data">
          <div v-if="data.item.menuType === 'ms'">
            <div class="btn-container">
              <b-button
                v-if="(data.item.menu).substr(2)==msCount"
                variant="primary"
                @click="add(data)"
              >追加</b-button>
                <b-button
                  variant="primary"
                  @click="remove(data.index)"
                >削除</b-button>
            </div>
          </div>
        </template>
        </b-table>
    </div>

    <footer class="btn-container justify-content-end modal-footer">
      <b-button
        variant="primary"
        @click="submit"
      >設定</b-button>
        <b-button variant="outline-primary">戻る</b-button>
    </footer>
  </b-form>
</template>

<script>
const CloudSettings = [
  {
    menu: "AWS",
    menuType: "other",
    bandwidth: "0Mbps",
    memo: "",
    other: "",
  },
  {
    menu: "MS1",
    menuType: "ms",
    bandwidth: "0Mbps",
    memo: "",
    other: "",
  },
  {
    menu: "Oracle",
    menuType: "other",
    bandwidth: "0Mbps",
    memo: "",
    other: "",
  },
  {
    menu: "GCP",
    menuType: "other",
    bandwidth: "0Mbps",
    memo: "",
    other: "",
  },
  {
    menu: "Oracle",
    menuType: "other",
    bandwidth: "0Mbps",
    memo: "",
    other: "",
  },
  {
    menu: "IBM",
    menuType: "other",
    bandwidth: "0Mbps",
    memo: "",
    other: "",
  },
];
export default {
  data() {
    return {
      options: [
        { value: "0Mbps", text: "0Mbps" },
        { value: "10", text: "10Mbps" },
        { value: "20", text: "20Mbps" },
        { value: "100", text: "100Mbps" },
        { value: "200", text: "200Mbps" },
        { value: "1", text: "1Gbps" },
        { value: "2", text: "2Gbps" },
      ],
      cloudSetting: {
        fields: [
          {
            key: "menu",
            label: "メニュー",
            sortable: true,
            thClass: "small-list-item",
          },
          {
            key: "bandwidth",
            label: "帯域値",
            sortable: true,
            thClass: "large-list-item",
          },
          {
            key: "memo",
            label: "備考",
            sortable: true,
            thClass: "large-list-item",
          },
          {
            key: "other",
            label: "",
            thClass: "large-list-item",
          },
        ],
        items: [],
      },
    };
  },
  async mounted() {
    await this.load();
  },
  computed: {
    msCount: function() {
      let msElm = this.cloudSetting.items.filter(elm => elm.menuType === "ms");
      return Number(msElm[msElm.length - 1].menu.substr(2));
    },
  },
  methods: {
    async load() {
      this.cloudSetting.items = CloudSettings;
    },
    async submit() {
      alert("上限値設定確認");
    },
    showMS() {
      alert("MS");
    },
    showMSexcepting() {
      alert("MS以外");
    },
    add(data) {
      let cnt = Number(data.item.menu.substr(2)) + 1;

      this.cloudSetting.items.splice(data.index + 1, 0, {
        menu: "MS" + cnt,
        menuType: "ms",
        bandwidth: "0Mbps",
        memo: "",
        other: "",
      });
    },
    remove(index) {
      this.cloudSetting.items.splice(index, 1);
      console.log(index);
    },
  },
};
</script>

<style lang="scss" scoped>
::v-deep {
  .multicloud-modal {
    .vfm__content {
      width: 900px;
    }
  }

  .pagination {
    padding-right: 1em;
  }

  //項目欄固定なし
  .b-table-sticky-header > .table.b-table > thead > tr > th {
    position: static;
  }
}
</style>
