<html>

<head>
    <meta charset="UTF-8">
    <title>v-for学習</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div id="app" style="margin: 50px 60px;width: 600px;">
        お名前
        <div>
            <input type="text" v-model="name" placeholder="お名前を入力してください" style="width: 300px;height: 40px;">
            <button @click="add" style="width: 60px;height: 40px;">追加</button>
        </div>
        <ul>
            <li v-for="(item, i) in list" :key = "item.id">
                <input type="checkbox"> {{item.name}}
            </li>
        </ul>

    </div>
</body>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            name: '',
            newId: 3,
            list: [{
                id: 1,
                name: '田中'
            }, {
                id: 2,
                name: '渡辺'
            }, {
                id: 3,
                name: '木村'
            }]
        },
        methods: {
            add() {
                let context = this.name === '' ? false : true
                if (context === false) {
                    alert("名前を入力してください。")
                    return
                }
                this.list.unshift({
                    id: ++this.newId,
                    name: this.name
                })
                this.name = ''
            }
        }
    });
</script>

</html>